@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
@font-face {
    font-family: Quantum;
    src: url(img/Quantum.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}


/* .container-lg {
    position: relative;
    width: 1195px;
    margin: 0 auto;
    z-index: 3;
} */

.header {
    height: 100vh;
}

.video {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    /* height: 100vh; */
    /* min-width: 100%;
    min-height: 100%; */
    /* width: auto;
    height: auto; */
    z-index: -1000;
    /* overflow: hidden; */
}

.showcase {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 35px 100px;
    z-index: 999;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-custome {
    position: relative;
    font-size: 30px;
    -webkit-text-stroke: 0.5px springgreen;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 0.05cm;
    font-family: Quantum;
}

.text-custome::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: springgreen;
    -webkit-text-stroke: 0px transparent;
    overflow: hidden;
    transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text-custome:hover::before {
    width: 100%;
}

.text-a {
    color: white;
    font-size: 13px;
    /* margin: 0 20px; */
    font-weight: bold;
    text-transform: uppercase;
}

.text-a:hover {
    color: springgreen;
}

.nav li {
    padding-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0.5px 0.5px 5px 0px rgba(137, 141, 141, 0.651);
    z-index: 2;
    opacity: 0;
    transition-duration: 1s;
    flex-direction: column;
    border-radius: 3px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    opacity: 1;
}

.dropdown-content-item {
    color: white;
    text-shadow: none;
    font-size: 15px;
    padding: 8px 16px;
}

.dropdown-content-item:hover {
    color: springgreen;
}

.text-content {
    max-width: 800px;
    padding-top: 250px;
    padding-left: 120px;
}

.text1 {
    font-family: poppins;
    font-size: 27px;
    color: white;
}

.text2 {
    color: white;
    font-size: 75px;
    font-family: Quantum;
    font-weight: 200;
}

.text3 {
    color: white;
    font-size: 40px;
    margin: 5px 0;
    font-family: poppins;
    font-weight: 700;
}

.but {
    font-family: poppins;
    display: inline-block;
    background: springgreen;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid springgreen;
    transition: all 0.3s ease;
}

.but:hover {
    color: springgreen;
    background: none;
}

.text3 span {
    color: springgreen;
    font-family: poppins;
}

.header-feature {
    overflow: hidden;
}

.header-feature img {
    width: 1020px;
}

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, springgreen);
    border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, springgreen, transparent);
}

.main {
    position: relative;
    padding-top: 50px;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
}

.text-about-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

.title-text {
    position: relative;
    right: -2500px;
    font-size: 60px;
    font-weight: bold;
    font-family: Quantum;
    -webkit-text-stroke: 0.5px springgreen;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 0.1cm;
}

.about-info {
    padding-left: 50px;
}

.box {
    position: relative;
    padding: 8px 36px;
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, springgreen);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, springgreen);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box span {
    position: absolute;
    inset: 2px;
    border-radius: 46px;
    background: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: poppins;
    font-size: 15px;
}

.info-text {
    font-size: 12px;
    font-weight: 100;
    font-family: poppins;
    line-height: 25px;
    color: white;
}

.info-image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.test {
    height: 5000px;
}